.cardWrap
    width: 332px
    height: 196px
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 20px
    background-color: var(--BackgroundSecond)
    border-radius: 16px
    gap: 16px
    cursor: pointer


.active
    border: 1px solid var(--BrandLight)
    background: var(--BackgroundSecondFocus)

.titleBlog
    display: flex
    flex-direction: row
    gap: 16px

.imgBlog
    width: 56px
    height: 56px
    flex: none
    order: 0
    flex-grow: 0
    border-radius: 28px
    opacity: 0.8

.titleText
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    gap: 8px

.name
    font-size: 20px
    font-weight: 600
    line-height: 24px
    letter-spacing: 0px
    text-align: left

.email
    font-size: 14px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0px
    text-align: left

.infoBlog
    display: flex
    flex-direction: column
    gap: 10px

.infoRow
    display: grid
    grid-template-columns: 72px auto

.infoTitle
    font-size: 12px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0px
    text-align: left
    color: var(--TypographySecond)

.infoValue
    font-size: 14px
    font-weight: 500
    line-height: 20px
    letter-spacing: 0px
    text-align: left
